body {
	background: lightgrey;

}
img {
	height: 100px;
	width: 100px;
}
header {
	margin: auto;
	text-align: center;
}
div {
	width: 60%;
	height: 125px;
	text-align: center;
	margin: auto;

}
h1 {
	padding:50px;
}

.toprow .middlerow .bottomrow {
	border: black;
	border-style: solid;
	height: 150px;
	width: 700px;
	display: inline-block;
	text-align: center;
	margin: 5px;

}

#trleft, #trmiddle, #trright, #mrleft, #mrmiddle, #mrright, #brleft, #brmiddle, #brright {
	display: inline-block;
	width: 30%;
	margin: 3px;
	border: solid black;
	text-align: center;
}





 
